<mat-card class="participants__wrapper">
  <mat-card-header>
    <mat-card-title>
      <h1 class="participants__title">Participants</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="info__content">
    <h3 mat-subheader>Total: {{participants.length}}</h3>

    <mat-list class="participants__list" *ngFor="let participant of participants">
      <mat-list-item>
        <div mat-card-avatar class="participants__avatar"></div>
        <h4 class="participants__name">{{participant}}</h4>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
