<mat-card class="description__wrapper">
  <mat-card-header>
    <mat-card-title>
      <h1 class="description__title">{{title}}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2 class="description__subtitle">Event creator: {{creatorName}}</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="description__image__container">
    <img mat-card-image src="{{imgUrl}}" alt="{{title}}" />
  </div>
  <mat-card-content class="description__content">
    <h3 class="description__content_title">Description</h3>
    <mat-divider [inset]="true"></mat-divider>
    <p class="description__content_paragraph">
      {{description}}
    </p>
  </mat-card-content>
</mat-card>
