.event {

  &__wrapper {
    max-width: 1600px;
    margin: 0 auto;
  }
  
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "s s s a a"
    "f f f a a";

  & section {
    grid-area: s;
  }

  & aside {
    grid-area: a;
  }

  & footer {
    grid-area: f;
  }
}
