.event {

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    // grid-gap: 5px;
    grid-template-areas:
      ". d d d d d d . i i i ."
      ". d d d d d d . i i i ."
      ". d d d d d d . p p p ."
      ". d d d d d d . p p p ."
      ". c c c c c c . . . . .";
  }

  &__description {
    grid-area: d;
  }

  &__info {
    grid-area: i;
  }

  &__comments {
    grid-area: c;
  }

  &__participants {
    grid-area: p;
  }
}
