<mat-card class="comments__wrapper">
  <mat-card-header>
    <mat-card-title>
      <h1 class="comments__title">Comments</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="comments__content">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line class="comment__owner">Bruce</h4>
        <p mat-line class="comment__content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quibusdam facere, impedit, in autem dolorum! Consectetur itaque tempora, nostrum facere dignissimos ipsa nesciunt eligendi, autem eveniet dolor at minus inventore. </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line class="comment__owner">Paul</h4>
        <p mat-line class="comment__content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim esse veniam cupiditate dolores sint magni consequatur fugit asperiores modi, exercitationem voluptatibus nihil voluptatem reiciendis nam id in voluptas aperiam dignissimos! </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
