<mat-card class="info__wrapper">
  <mat-card-header>
    <mat-card-title>
      <h1 class="info__title">Event Info</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="info__content">
    <mat-list>
      <h3 mat-subheader>Main info</h3>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <h4 mat-line>Date: <span style="color:blue">{{info.date | date}}</span></h4>
        <p mat-line>Lorem ipsum dolor sit amet.</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>place</mat-icon>
        <h4 mat-line>Place: <span style="color:blue">{{info.location}}</span></h4>
        <p mat-line>Lorem ipsum dolor sit amet.</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>schedule</mat-icon>
        <h4 mat-line>Time: <span style="color:blue">{{info.time}}</span></h4>
        <p mat-line>Lorem ipsum dolor sit amet.</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
